.accountPage {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* change profile picture */
.profilePictureTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -100px;
}

.profilePictureIcon {
  width: 30px;
  height: 30px;
}

.profilePictureTitleText {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.newProfilePicture {
  margin-left: -100px;
  margin-bottom: 30px;
}

/* settings title */
.userSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settingsIcon {
  width: 30px;
  height: 30px;
}

.settingsText {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
}

/* settings form*/
.settingsFields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationFields p,
.informationFields label {
  display: block;
  margin-bottom: -10px;
  margin-top: 2%;
}

.informationFields input {
  margin-top: 4%;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
}

/*error message*/
.error {
  font-size: 12px;
  color: red;
}

/*Radio Buttons*/
.radiocontainers {
  display: block;
  margin-top: 15px;
  margin-left: -260px;
}

.inputButtons {
  margin-left: 40px;
}

/*Button, code modified from:https://www.w3schools.com/css/css3_buttons.asp */
.confirmChangesButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.csButton {
  background-color: #0080ff;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.csButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.csButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.3s;
}

.csButton:hover span {
  padding-right: 15px;
}

.csButton:hover span:after {
  opacity: 1;
  right: 0;
}
