.followersPage {
  display: flex;
  flex-direction: column;
}

.searchBox {
  padding-top: 70px;
  width: 50%;
  margin-left: 25%;
}

.searchBox header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.followersPageObject {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
}

.following {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.followers {
  width: 50%;
  border-left: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.FPtext {
  display: inline-block;
  margin-left: 25px;
  font-size: 25px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: whitesmoke;
}
